AE Canary

The Aeternity blockchain newest key block does not contain any microblocks. This might indicate a problem.

The current top block is <%= @addr %> created at <%= @block.block_time %>
The block with no microblocks is <%= @block.generation["key_block"]["prev_key_hash"] %>.