<h4>New User</h4>

<%= render "form.html", Map.merge(assigns, %{action: Routes.user_path(@conn, :create),
                                             new_user: true}) %>

<span><%= link "Back", to: Routes.user_path(@conn, :index) %></span>
