<p>This is the public dashboard.</p>
<p>The AeCanary service is still in alpha version. It is yet to be decided what could be exposed to the public while not sacrifising the safety of the service.</p>
<p>In order to see the functionality, please <%= link "login", to: Routes.session_path(@conn, :new) %>.
