<h1>New Location</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.transactions_location_path(@conn, :create)) %>

<span><%= link "Back", to: Routes.transactions_location_path(@conn, :index) %></span>
